streamlit==1.46.1

groq==0.30.0

google-generativeai==0.8.5

langchain==0.3.26

langchain-community==0.3.27

langchain-core==0.3.69

langchain-huggingface

pinecone

sentence-transformers

tiktoken

pypdf

python-dotenv

pandas

numpy

markdown

fpdf2

requests
